.header{
    height: 54px;
    background-color: white;
    position: fixed;
    top:0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgb(74 74 78 / 12%);
    .header-left{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 10px;
        .shop-name{
            color: red;
        }
        .shop-title{
            margin-left: 10px;
            font-size: 20;
            color: grey;    
        }
    }
    .header-right{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 20px;
        .image{
           img{
                width: 30px;
                border-radius: 100%;
           }
        }
        .name-buyer{
            font-size: 13px;
            &::after{
                content:'|';
                margin-left : 5px;
            }
        }
        div{
            margin-right: 20px;
        }
    }
}